

a {
  color: black
}
.otstup{
  padding-right:30px
}

.atstup{
  padding-left:100px
}

table{
  font-size: 17px
}

p{
    font-size: 18px
}

h1 {
  background:#FAFAD2;
}
body{
  font-family: sans-serif;
}
